[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu132"
verify_ssl = true
name = "downloadpytorch"

[packages]
cats-dogs-mlops = {editable = true, path = "."}
numpy = "*"
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
fastapi = "*"
uvicorn = "*"
pillow = "*"
python-multipart = "*"
httpx = "*"
kagglehub = "*"
mlflow = "*"
dvc = "*"
prometheus-client = "*"
pyyaml = "*"
pathspec = "*"
tqdm = "*"
torch = {version = "*", index = "downloadpytorch"}
torchvision = {version = "*", index = "downloadpytorch"}

[dev-packages]
jupyter = "*"
pytest = "*"
pytest-cov = "*"
httpx2 = "*"
graphifyy = "*"

[requires]
python_version = "3.14"
